* {
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
    text-decoration-color: none;
    text-decoration: none;
    outline: none;
    list-style-type: none;
}

.a {
    text-decoration: none;
}

.container {
    max-width: 1142px;
    margin: 0 auto;
}
.header_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.logo_form {
    height: 99px;
}

.logo {
    margin-top: 25px;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.d {
    color: #f16d7f;
    font-weight: 900;
    font-style: normal;
    letter-spacing: 0.68px;
    line-height: normal;
}

.brand {
    /* Style for "BRAND" */
    width: 93px;
    height: 19px;
    color: #222222;
    font-size: 27px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
    padding-left: 13px;
    padding-bottom: 12px;
}
.col_1 {
    display: flex;
    align-items: center;
}
.drop_browse {
    margin-top: 32px;
    margin-bottom: 30px;
    padding-left: 37px;
    display: flex;
}
.browse_button {
    width: 87px;
    margin-left: 37px;
    border-radius: 3px 0 0 3px;
    border: 1px solid #e6e6e6;
    background-color: #cdcdcc;
    position: relative;
}
.browse_button:hover {
    background-color: #e6e6e6;
}

.browse_box {
    border-radius: 5px;
    position: absolute;
    border: 1px solid #e8e8e8;
    padding: 20px;
    background-color: #ffffff;

    display: none;
}
.browse_box::before {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    background-color: #ffffff;
    position: absolute;
    top: -6px;
    left: 65px;
    transform: rotate(45deg);
    border-left: 1px solid #e8e8e8;
    border-top: 1px solid #e8e8e8;
}
.browse_box_item1 {
    padding-bottom: 20px;
    width: 262px;
}
.browse_button:hover .browse_box {
    display: flex;
    flex-direction: column;
    z-index: 1;
    background-color: #ffffff;
}

.fa-caret-down {
    display: inline;
    padding: 0px;
}

.text_button {
    display: block;
    color: #222222;
    font-size: 14px;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: 0.35px;
    padding: 5px 15px 5px 15px;
}
.input_top {
    width: 280px;
    border: 1px solid #e6e6e6;
    background-color: #ffffff;
    line-height: 32px;
    border-left: 0px;
    padding-left: 16px;
}
::-webkit-input-placeholder {
    color: #a4a4a4;
    text-align: left;
}
.input_top:focus::-webkit-input-placeholder {
    color: transparent;
}

.magnifying {
    width: 36px;
    border-radius: 0 3px 3px 0;
    padding-left: 0px;
}
.magnifying:hover {
    background-color: #e6e6e6;
}
.col_2 {
    display: flex;
    align-items: center;
}
.cart {
    width: 32px;
    height: 29px;
    padding: 13px 20px;
}
.cart_container {
    position: relative;
}
.cart_box {
    width: 262px;
    border-radius: 5px;
    position: absolute;
    border: 1px solid #e8e8e8;
    padding: 20px;
    background-color: #ffffff;
    display: none;
    flex-direction: column;
}
.cart_box::before {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    background-color: #ffffff;
    position: absolute;
    top: -6px;
    left: 35px;
    transform: rotate(45deg);
    border-left: 1px solid #e8e8e8;
    border-top: 1px solid #e8e8e8;
}
.cart_container:hover .cart_box {
    display: flex;
}
.cart_box_item1 {
    padding-bottom: 15px;
    border-bottom: 1px solid #e8e8e8;
    margin-bottom: 20px;
}
.cart_box_elem {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    align-items: center;
}
.fa-star {
    font-size: 12px;
    color: #f16d7f;
}
.checked {
    color: rgb(255, 153, 0);
}
.text_cart_block {
    display: inline-block;
    padding: 8px;
}
.text_cart_img {
    display: block;
    color: #222222;
    font-size: 12px;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    padding-left: 10px;
}
.cart_price {
    color: #f16d7f;
    display: inline-block;
    padding: 8px;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    text-transform: uppercase;
}
.cart_img_w {
    width: 72px;
    height: 85px;
}

.fa-times-circle {
    color: #4a4a4a;
}
.total {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.text_cart_total {
    display: block;
    color: #222222;
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
}
.cart_checkout {
    display: block;
    padding: 13px 19px;
    background-color: #f16d7f;
    border: 1px solid transparent;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;

    margin-bottom: 8px;
}
.cart_go_to {
    background-color: #ffffff;
    border: 1px solid #eaeaea;
    color: #4a4a4a;
}
.myaccount {
    padding: 13px 19px;
    background-color: #f16d7f;
    border: 1px solid transparent;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    border-radius: 3px;
}
.myaccount:hover,
.cart_checkout:hover {
    background-color: #fff;
    color: #f16d7f;
    border: 1px solid #f16d7f;
}
.nav_container {
    border-top: 1px solid #ececec;
}
.navigation_menu {
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.link_menu {
    padding: 20px;
    position: relative;
    display: block;
    color: #222222;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    text-align: left;
    text-transform: uppercase;
}
.link_menu::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    top: 70%;
    left: 0;
    background: #f16d7f;
    transform: scaleX(0);
}
.link_menu:hover::after {
    transform: scaleX(1);
    transition: color 0.1s, transform 0.2s ease-out;
}

.list_menu {
    position: relative;
}
.list_menu:hover .mega_box {
    display: flex;
}
.mega_box {
    border-radius: 5px;
    position: absolute;
    border: 1px solid #e8e8e8;
    padding: 20px;
    background-color: #ffffff;
    display: none;
}
.mega_box::before {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    background-color: #ffffff;
    position: absolute;
    top: -6px;
    left: 20px;
    transform: rotate(45deg);
    border-left: 1px solid #e8e8e8;
    border-top: 1px solid #e8e8e8;
}
.mega_box1 {
    margin-right: 40px;
}
.mega_box1:last-of-type {
    margin-right: 0px;
}
.menuitem_heading {
    border-bottom: 1px solid #e8e8e8;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 8px;
    margin-bottom: 8px;
    text-transform: uppercase;
    width: max-content;
}
.mega_link {
    color: #646464;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    display: block;
    width: 80px;
}
.mega_link:hover {
    color: #f16d7f;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
}
.list_menu_last {
    right: 0;
}
.mega_box_last::before {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    background-color: #ffffff;
    position: absolute;
    top: -6px;
    left: 80%;
    transform: rotate(45deg);
    border-left: 1px solid #e8e8e8;
    border-top: 1px solid #e8e8e8;
}

.banner {
    height: 613px;
    max-width: 1616px;
    margin: 0 auto;
    margin-bottom: 98px;
    background-color: #e8e8e8;
}
.banner_background {
    height: 100%;
    background-image: url(img/background_1.png);
    background-repeat: no-repeat;
    background-position-y: -50px;
}
.banner_container {
    display: flex;
}
.text_container {
    margin-top: 224px;
    color: #222222;
    font-size: 40px;
    font-weight: 900;
    text-align: left;
    text-transform: uppercase;
    display: inline-block;
}
.rectangle {
    margin-top: 224px;
    padding-top: 10px;
    content: "";
    width: 12px;
    height: 100px;
    margin-right: 10px;
    background-color: #f16d7f;
}
.brand_text_banner {
    color: #222222;
    font-weight: 900;
    text-align: left;
    text-transform: uppercase;
    font-size: 55px;
}
.fashion_text {
    color: #f16d7f;
    font-style: normal;
    letter-spacing: 1px;
    line-height: normal;
}

.content_specials {
    max-width: 1142px;
    height: 830px;
    margin: 0 auto;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
}
.specials {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.specials_box1 {
    width: 560px;
    height: 542px;
}
.specials_box2 {
    width: 560px;
    height: 261px;
    background-color: #dadad2;
}
.white_box {
    position: absolute;
    display: inline-block;
    margin-top: 26px;

    background-color: #ffffff;
}
.white_box_text {
    margin: 16px 18px 16px 18px;
    text-align: left;
}
.word1 {
    color: #222222;
    font-size: 18px;
    font-weight: 900;
    text-align: center;
    letter-spacing: 0.45px;
    text-transform: uppercase;
}
.word2 {
    color: #f16d7f;
    font-size: 30px;
    font-weight: 900;
    letter-spacing: 0.75px;
    text-transform: uppercase;
}
.special_img {
    float: right;
    width: 400px;
    height: 240px;
}
.paragraph_featured {
    display: block;
    color: #222222;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.75px;
}
.text_featured {
    color: #9f9f9f;
    font-size: 14px;
    font-weight: 400;
    padding-top: 15px;
    text-align: center;
    letter-spacing: 0.35px;
}

.featured_header {
    margin-bottom: 60px;
}

.featured {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.featured_name_price {
    padding: 15px;
}
.featured_item {
    width: 263px;
    margin-bottom: 39px;
    position: relative;
}
.featured_item:hover {
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}
.featured_item:hover .image_item {
    filter: brightness(50%);
}
.image_item {
    width: 100%;
}
.image_featured {
    display: block;
}
.to_cart {
    display: flex;
    justify-content: center;
    width: 100%;
}
.to_cart:hover .button_to_cart {
    box-shadow: 0 0 5px #ffffff;
}
.button_to_cart {
    display: none;
    align-items: center;
    position: absolute;
    top: 98px;
    border: 1px solid #ffffff;
    padding: 7px;
}
.featured_item:hover .button_to_cart {
    display: flex;
}

.to_cart_text {
    margin-left: 7px;
    text-align: center;
    font-size: 13px;
    font-weight: 400;
    color: #ffffff;
}

.featured_item_text {
    height: 11px;
    color: #222222;
    font-size: 13px;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 19px;
}
.featured_item_price {
    height: 15px;
    color: #f16d7f;
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
}
.button_browse_container {
    margin-bottom: 113px;
    text-align: center;
}
.browse_all {
    padding: 18px;
    background-color: #f16d7f;
    border: 1px solid transparent;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
}
.arrow_right {
    padding: 5px;
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
}
.browse_all:hover {
    background-color: #fff;
    color: #f16d7f;
    border: 1px solid #f16d7f;
}

.banner_offer {
    height: 600px;
    margin-bottom: 97px;
    background-color: #222224;
    display: flex;
}

.banner_pic {
    width: 767px;
    background-size: cover;
    background-image: url(img/bannerOffer.png);
    background-repeat: no-repeat;
    position: relative;
}

.span_display {
    display: inline-block;
}
.offer_text_box {
    display: inline-block;
    position: absolute;
    margin-top: 146px;
    margin-left: 40px;
    color: #ffffff;
    letter-spacing: 0.9px;
    font-size: 32px;
    font-weight: 700;
    line-height: normal;
    text-align: left;
    text-transform: uppercase;
}
@keyframes spin {
    50% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.box_with_pic:hover .banner_item_icon2 {
    animation: spin 2s ease-out;
}
.box_with_pic:hover .banner_item_icon3 {
    transform: scale(1.2) rotate(360deg);
    transition: transform 1s ease-in-out;
}
.text_box {
    font-size: 54px;
    letter-spacing: 1.5px;
}
.offer_text {
    color: #f16d7f;
}
.banner_items_box {
    width: 373px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 50px;
}
.box_with_pic {
    display: flex;
    justify-content: space-around;
    height: 100%;
}
.banner_item_icon1 {
    width: 45px;
    height: 32px;
}
.banner_item_icon2 {
    width: 40px;
    height: 40px;
}
.banner_item_icon3 {
    width: 47px;
    height: 35px;
}
.banner_item_text {
    box-sizing: border-box;
    color: #fbfbfb;
    max-width: 219px;
    height: 58px;
    font-weight: 700;
    letter-spacing: 0.5px;
    font-size: 20px;
}
.mini_text_banner {
    color: #fbfbfb;
    padding-top: 17px;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.35px;
    line-height: 24px;
    width: 219px;
}
.banner_foot {
    max-width: 1618px;
    margin: 0 auto;
    height: 438px;
    background-size: cover;
    background-image: url(img/grey_surf.png);
    background-repeat: no-repeat;
    margin-bottom: 120px;
}
.banner_foot_box {
    display: flex;
    height: 438px;
}
.column1_pic {
    width: 83px;
    height: 83px;
}
.column1 {
    justify-content: center;
    display: flex;
    align-items: center;
    flex-grow: 0.9;
}
.col1_box_it,
.col1_box_p2 {
    color: #222224;
    font-size: 16px;
    font-style: italic;
    line-height: 26px;
    text-align: left;
    letter-spacing: 0.4px;
    margin-left: 30px;
    max-width: 386px;
}
.col1_box_p2 {
    padding-top: 10px;
    color: #222224;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.3px;
    line-height: 14px;
}
.signature {
    font-style: normal;
    color: #f16d7f;
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    letter-spacing: 0.4px;
    line-height: 26px;
}
.column2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
}
.column2_text {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.35px;
    line-height: 24px;
    margin-bottom: 35px;
}
.text_header_subscribe {
    font-size: 24px;
    letter-spacing: 0.6px;
    line-height: 54px;
}
.input_bottom {
    width: 300px;
    border: 1px solid #e6e6e6;
    line-height: 32px;
    border-left: 0px;
    padding-left: 16px;
    border-radius: 23px 0 0 23px;
    background-color: #e1e1e1;
}
.input_box {
    display: flex;
    justify-content: center;
}
.input_bottom_button {
    width: 104px;
    color: #ffffff;
    border: 1px solid #f16d7f;
    font-size: 14px;
    font-weight: 400;
    line-height: 54px;
    text-align: center;
    letter-spacing: 0.35px;
    cursor: pointer;
    border-radius: 0 23px 23px 0;
    background-color: #f16d7f;
}
.input_bottom_button:hover {
    background-color: #fff;
    color: #f16d7f;
    border: 1px solid #f16d7f;
}
.footer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 97px;
}
.footer_column1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 427px;
}
.footer_column1_text {
    margin-bottom: 20px;
    color: #898989;
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.35px;
}
.footer_link {
    display: block;
    color: #898989;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.4px;
    line-height: 59px;
}
.footer_link_header {
    color: #f16d7f;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    text-align: right;
    text-transform: uppercase;
    letter-spacing: 0.45px;
}
.footer_link_header:hover {
    box-shadow: 0 0 5px #898989;
}
.footer_link:hover {
    color: #f16d7f;
}
.footer_last {
    max-width: 1617px;
    margin: 0 auto;
    background-color: #e6e6e6;
}
.foot_box {
    background-color: #e6e6e6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    height: 79px;
}
.copyright {
    width: 260px;
    color: #7a7a7a;
    font-size: 16px;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: 0.4px;
}

.fa {
    width: 15px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    margin: 3px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook,
.fa-linkedin,
.fa-pinterest,
.fa-google,
.fa-twitter {
    background-color: #ffffff;
    color: #7a7a7a;
    padding: 10px;
}

.fa-twitter:hover,
.fa-facebook:hover,
.fa-linkedin:hover,
.fa-pinterest:hover,
.fa-google:hover {
    background-color: #f16d7f;
    color: #ffffff;
}

//Single Page//
$pinkcolor: #f16d7f;
$maxwidth: 1616px;

.pinkbanner {
    max-width: $maxwidth;
    margin: 0 auto;
    background-color: #f8f3f4;
    .pinkbanner_container {
        height: 148px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .pinktext {
            color: $pinkcolor;
            font-size: 24px;
            font-weight: 700;
            line-height: 20px;
            text-align: center;
            text-transform: uppercase;
        }
        .breadcrumb {
            list-style: none;
            .breadcrumb_li {
                display: inline;
            }
            .breadcrumb_text {
                text-decoration: none;
                color: #7a7a7a;
                font-size: 14px;
                font-weight: 700;
                line-height: 20px;
                text-align: center;
                text-transform: uppercase;
            }
            .lasttext {
                display: inline;
                font-weight: 700;
                color: $pinkcolor;
            }

            .breadcrumb_text:hover {
                color: $pinkcolor;
                text-decoration: underline;
            }
        }
    }
}

.ladybanner {
    height: 777px;
    max-width: 1616px;
    margin: 0 auto;
    background-color: #f7f7f7;
    background-image: url(img/ladybanner.png);
    background-repeat: no-repeat;
    background-position-x: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .boxarrows {
        width: 47px;
        height: 47px;
        background-color: #e1e1e1;
        text-align: center;
        font-size: 34px;
        font-weight: 400;

        .leftarrow,
        .rightarrow {
            display: block;
            text-decoration: none;
            color: #ffffff;
        }
    }
}
.headerlike {
    text-align: center;
    color: #4d4d4d;
    font-size: 24px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    margin-bottom: 70px;
}
.addmargin {
    margin-bottom: 70px;
}
.formbox {
    text-align: center;
    margin-top: -100px;
    height: 730px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    margin-bottom: 70px;
    padding: 73px;
    .narrow_formbox {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 618px;
        margin: 0 auto;
        .textarea {
            border-bottom: 1px solid #eaeaea;
            margin-bottom: 63px;
            .pinkheader {
                color: $pinkcolor;
                font-size: 14px;
                font-weight: 700;
                line-height: 24px;
                text-align: center;
                text-transform: uppercase;
                margin-bottom: 34px;
            }
            .boldheader {
                color: #4d4d4d;
                font-size: 18px;
                font-weight: 700;
                line-height: 24px;
                text-align: center;
                text-transform: uppercase;
                margin-bottom: 67px;
            }
            .formbox_text {
                color: #5e5e5e;
                font-size: 14px;
                font-weight: 300;
                line-height: 24px;
                text-align: center;
                margin-bottom: 28px;
            }
            .design_material_box {
                margin-bottom: 37px;
                .combotext {
                    color: #b9b9b9;
                    font-size: 14px;
                    font-weight: 700;
                    line-height: 24px;
                    text-align: center;
                    text-transform: uppercase;
                    padding-right: 35px;
                }
                .combotext2 {
                    color: #2f2f2f;
                }
                .nopadding {
                    padding-right: 0px;
                }
            }
            .pinkprice {
                color: $pinkcolor;
                font-size: 24px;
                font-weight: 700;
                line-height: 24px;
                text-align: center;
                margin-bottom: 43px;
            }
        }
        $formareaw: 537px;
        .formarea {
            width: $formareaw;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-bottom: 28px;
            .textinputs {
                width: $formareaw/3 - 2;
                color: #2f2f2f;
                font-size: 14px;
                font-weight: 700;
                line-height: 24px;
                text-align: center;
                text-transform: uppercase;
                display: block;
                .inputbox {
                    width: 94%;
                    height: 35px;
                    border: 1px solid #eaeaea;
                    background-color: #ffffff;
                    color: #bcbcbc;
                    font-size: 13px;
                    font-weight: 400;
                    line-height: 24px;
                    text-transform: uppercase;
                    padding-left: 10px;
                    margin-right: 10px;
                    flex-grow: 1;
                    .colorbox {
                        color: $pinkcolor;
                    }
                }
                .lastbox {
                    margin-right: 0px;
                    height: 33px;
                }
            }
        }
    }
}
.pink_to_cart {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 28px;
    .pink_to_cart:hover .pinkbutton_to_cart {
        background-color: #ffffff;
        color: $pinkcolor;
        border: 1px solid $pinkcolor;
    }
    .pink_to_cart:hover .imgcart {
        display: none;
    }
    .pink_to_cart:hover .imgcarthover {
        display: flex;
        width: 26px;
        height: 24px;
        padding-right: 10px;
        position: absolute;
        right: 57%;
        z-index: 1;
    }
    .pinkbutton_to_cart {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid transparent;
        width: 100%;
        height: 55px;
        background-color: $pinkcolor;
        text-decoration: none;
        color: #ffffff;
        .imgcar {
            width: 26px;
            height: 24px;
            padding-right: 10px;
            position: absolute;
            right: 57%;
        }
        .imgcarthover {
            display: none;
        }
    }
}
//Shopping Cart//
%table_items_position {
    display: flex;
    justify-content: space-between;
}

$conainerwidth: 1142px;

.pinkbanner_bottommargin {
    margin-bottom: 90px;
}
.product_table {
    margin-bottom: 44px;
}
.product_table_header {
    @extend %table_items_position;
    .text_productDetails {
        color: #222222;
        font-size: 13px;
        font-weight: 700;
        line-height: 20px;
        text-align: left;
        text-transform: uppercase;
        padding-bottom: 10px;
    }
    .col1_header {
        @extend %table_items_position;
    }
    .col1_header_w {
        width: 40%;
    }
    .col2_header_w {
        width: 60%;
    }
}
.product_row {
    @extend %table_items_position;
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
    .col1_pict {
        @extend %table_items_position;
        width: 40%;
        .product_description_box {
            display: flex;
            justify-content: space-around;
            align-items: flex-start;
            flex-direction: column;
            height: 100%;
            text-align: left;
        }
        .product_description {
            @extend %table_items_position;
            padding: 15px;
            .header_description {
                text-decoration: none;
                color: #222222;
                font-size: 13px;
                font-weight: 700;
                text-transform: uppercase;
            }
            .text_description {
                color: #6f6e6e;
                font-size: 13px;
                font-weight: 700;
                line-height: 20px;
                text-align: left;
                .smalltext {
                    font-weight: 300;
                }
            }
        }
    }
    .col2_values {
        @extend %table_items_position;
        width: 60%;
        align-items: center;
        .carttext {
            text-align: center;
            padding: 15px;
        }
        .tableinput {
            text-align: center;
            width: 54px;
            height: 30px;
            border: 1px solid #eaeaea;
            background-color: #ffffff;
            margin-left: 10px;
        }
    }
}
.table_buttons {
    @extend %table_items_position;
    margin-bottom: 63px;
}
.cart_forms_container {
    @extend %table_items_position;
    margin-bottom: 63px;
    height: 300px;
    .cart_form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        width: $conainerwidth/3;
        padding-right: 2%;

        .header_cart_form {
            color: #222222;
            font-size: 16px;
            font-weight: 700;
            text-align: left;
            text-transform: uppercase;
        }
        .get_a_qoute {
            font-size: 11px;
            font-weight: 700;
            text-align: left;
            text-transform: uppercase;
            width: fit-content;
        }
        .get_a_qoute:hover {
            color: $pinkcolor;
        }
        .cart_form_input {
            color: #b1b1b1;
            width: 90%;
            height: 45px;
            border: 1px solid #eaeaea;
            background-color: #ffffff;
            padding-left: 17px;
        }
        .cart_form_input:focus::-webkit-input-placeholder {
            color: transparent;
        }
    }
    .last_box {
        background-color: #f5f3f3;
        height: 70%;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: flex-end;
        .text_last_box {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            border-bottom: 1px solid #e2e2e2;
            text-align: right;
            width: 80%;
            height: 30%;
            .line1_last_box {
                color: #4a4a4a;
                font-size: 11px;
                font-weight: 400;
                text-transform: uppercase;
            }
            .line2_last_box {
                color: #222222;
                font-size: 16px;
                font-weight: 700;
                text-transform: uppercase;
                .totalpink {
                    color: $pinkcolor;
                }
            }
        }
        .last_box_button {
            width: 70%;
        }
    }
    .middle_box {
        height: 70%;
        .cart_form_smalltext {
            color: #000000;
            font-size: 14px;
            font-weight: 300;
            text-align: left;
        }
    }
    .first_box {
        height: 100%;
        .selectstate {
            width: 95%;
        }
    }
}
//Product//
.middlezone_container {
    @extend %table_items_position;
}
.lefthand_menu {
    width: 20%;
}
.product_navmenu {
    display: flex;
    flex-direction: column;

    .prod_item_box {
        display: none;
        padding-top: 22px;
        padding-left: 17px;
    }

    .link_prodmenu {
        text-decoration: none;
        color: #6f6e6e;
        font-size: 14px;
        font-weight: 700;
        line-height: 20px;
        text-transform: uppercase;
    }
    .prod_item_category:hover {
        color: $pinkcolor;
        box-shadow: 0 0 5px #e2e2e2;
    }
    .prod_item_category:hover .link_prodmenu {
        color: $pinkcolor;
    }
    .product_list_menu {
        margin-bottom: 10px;
        .prod_item_category {
            padding-left: 10px;
            border-left: $pinkcolor solid 4px;
            border-bottom: #eaeaea solid 1px;
            height: 37px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
    .product_list_menu:hover .prod_item_box {
        display: flex;
    }
}
.middlezone_content {
    width: $conainerwidth * 0.75;
    .header_forms {
        margin-bottom: 50px;
        @extend %table_items_position;
        color: #6f6e6e;
        font-size: 14px;
        font-weight: 700;
        line-height: 20px;
        text-align: left;
        text-transform: uppercase;
        .trending_box,
        .size_box,
        .price_box {
            width: $conainerwidth * 0.75/3;
        }
        .trending_box {
            .trends_text {
                margin-top: 20px;
            }
            .trend_links {
                text-decoration: none;
                color: #6f6e6e;
                font-size: 14px;
                font-weight: 400;
                line-height: 26px;
                text-align: left;
                text-transform: none;
                padding: 5px;
            }
            .trend_links:hover {
                color: $pinkcolor;
            }
        }
        .size_box {
            .checkboxes {
                margin-top: 20px;
                .checkboxi {
                    padding: 5px;
                    display: inline-block;
                }
            }
        }
        .price_box {
            .slidercontainer {
                margin-top: 20px;
                .slider {
                    -webkit-appearance: none;
                    background-color: $pinkcolor;
                    height: 8px;
                    border-radius: 4px;
                    width: 100%;
                }
                .slider::-webkit-slider-thumb {
                    -webkit-appearance: none;
                    cursor: pointer;
                    width: 18px;
                    height: 18px;
                    border-radius: 10px;
                    background-color: $pinkcolor;
                }
            }
            .pricerange {
                padding-top: 10px;
                display: flex;
                justify-content: space-between;
            }
        }
    }
    .filters_box {
        background-color: #f3f3f3;
        width: 100%;
        margin-bottom: 48px;
        .filter_items_box {
            width: fit-content;
            display: flex;
            justify-content: space-between;
            .filter_item {
                @extend %table_items_position;
                height: 50px;
                align-items: center;
                width: fit-content;
                margin-left: 10px;
                .filter_name,
                .selectfilter {
                    border: 1px solid #ebebeb;
                    background-color: #ffffff;
                    color: #6f6e6e;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 26px;
                    text-align: left;
                    width: fit-content;
                }
                .selectfilter {
                    height: 65%;
                    padding: 0px 3px 0px 3px;
                }
                .filter_name {
                    padding: 2px 10px 2px 10px;
                }
                .showless {
                    padding: 0px 8px 0 8px;
                }
            }
        }
    }
    .product_box {
        margin-bottom: 23px;
    }
    .pagination_box {
        @extend %table_items_position;
        margin-bottom: 110px;
        .product_button {
            border-radius: 3px;
            padding: 16px 45px 16px 45px;
        }
    }
}
.black_banner {
    max-width: $maxwidth;
    background-color: #222224;
    margin: 0 auto;
    .product_page_align {
        display: flex;
        justify-content: space-around;
        align-items: center;
        .product_with_pic {
            width: $maxwidth/3;
            height: 341px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .product_item_text {
                color: #fbfbfb;
                font-size: 20px;
                font-weight: 700;
                text-align: center;
            }
            .product_text_banner {
                color: #fbfbfb;
                font-size: 14px;
                font-weight: 300;
                line-height: 23.95px;
                text-align: center;
            }
            .product_header {
                display: block;
                padding: 30px;
            }
        }
    }
}

//accordion//
.panel {
    margin-bottom: 60px;
    details {
        border-bottom: #eaeaea solid 1px;
        margin-bottom: 20px;
    }
    details:hover {
        cursor: pointer;
    }
    summary {
        color: #222222;
        font-size: 16px;
        font-weight: 700;
        text-align: left;
        text-transform: uppercase;
        margin-bottom: 20px;
        transition: transform 0.5s ease;
        transform-origin: bottom left;
    }
    summary:hover {
        transform: scale(1.1);
        transform-origin: bottom left;
        cursor: pointer;
    }

    .accordpanel {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        .acc_col {
            width: 50%;

            .col_content {
                padding-left: 20px;
                height: 350px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .col_block {
                    .txt_headeraccord {
                        color: #222222;
                        font-size: 13px;
                        font-weight: 700;
                        text-align: left;
                        text-transform: uppercase;
                        margin-bottom: 15px;
                    }
                    .txt_paccord {
                        color: #b3b2b2;
                        font-size: 13px;
                        font-weight: 400;
                        line-height: 20px;
                        text-align: left;
                        margin-bottom: 20px;
                    }
                    .minusmargin {
                        margin-bottom: 0px;
                    }
                    .radio {
                        margin-bottom: 10px;
                    }
                    .minuspix {
                        font-size: 12px;
                    }
                    .email {
                        height: 45px;
                        border: 1px solid #eaeaea;
                        width: 60%;
                        padding-left: 15px;
                        margin-top: 10px;
                        margin-bottom: 10px;
                    }
                    .minuspix::after {
                        content: "*";
                        color: red;
                    }
                    .redtext {
                        color: red;
                    }
                }
                .continue {
                    width: 30%;
                }
                .col_links {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    .forgot {
                        color: #222222;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 20px;
                        text-align: left;
                        margin-left: 20px;
                    }
                    .forgot:hover {
                        color: $pinkcolor;
                    }
                }
            }
        }
    }
}
